body{
    padding: 0;
    margin: 0;
    overflow: scroll;
}
.main{
    height:100vh;
    width:100%;
   display:flex;
   flex-direction: column;


    /*background-color: black;*/
}
.body{
   
    width: 100%;
    flex:1;
}
.head{
    height: 9.37em;
    width:100%;
    background-color: blanchedalmond;
    position:fixed;
    z-index: 35;
    box-shadow: 1em,1em,5em,black;
}
.first{
    width:100%;
    height:40%;
    background-color: #0066b2;

}
.second{
    padding: 0;
    margin: 0;
    text-align: center;
    display: inline-block;
    width: 100%;
    height:70%;
    background-color:white;
}
.contact{
    padding:0;
    margin: 0;
    display:inline-block;
    position:fixed;
    height: 4em;
    width:4em;
}

#img,.img{
    margin:0;
    margin-left:0;
    padding:0;
    height: 90%;
    width:4em;

display: inline-block;
}
.box{
    display: inline-block;
    height: 100%;
    width:75%;
}
.gate{
    height: 100vh;
    width: 100%;
   z-index: 7;
    background-image: url("img.jpg");
    background-size:cover;
   
    
    
}
.over{
    height: 100vh;
    width: 100%;
    background-color:rgba(0,102,178,0.9);
}
.lower{
    height: 10em;
    width:100%;
    display: flex;
    justify-content: center;
    text-align: center;
    
}
.one,.two,.three,.four{
    position: relative;
    padding:5em;
    margin:2em;
    display:inline-block;
 
   color:#0066b2;
    height: 4em;
    width:4em;
}
#text{
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
}
#ele,m{
    color:black;
}
.btn{
    color:#0066b2;
    background-color: white;
    border-radius: 10%;
    height: 3em;
    width: 8em;
    border:2em;}
    .btn1,.btn4{
        color:white;
        background-color:#0066b2;
        border-radius: 10%;
        height: 3em;
        width: 8em;
        border:2em;}
        .bt4{
            margin:auto;
        }

        .btn2{
            color:white;
            background-color:#0066b2;
            border-radius: 10%;
            height: 5em;
            width: 80em;
            border:2em;}
.center{
    height: 80vh;
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    text-align: center;
    position: relative;
   z-index:7;
   color: white;
}
.upcome{
    margin: 0;
    padding: 0;
    color:rgba(0,102,178,1);
    height: 20em;
    width:100%;
    position: relative;
    display: block;
   }
  
.last{
    padding: 0%;
    margin: 0;
    height: 20em;
    width: 100%;
    position: relative;
    background-color: #0066b2;

}
.data{
    display: flex;
    height: 8em;
    width:8em;
    background-color: wheat;
    
}
A{
    color:black;
    text-decoration: none;
    font-size: large;
   padding:5em;
   margin:0;
   
} 
.middle{
    height: 40vh;
    width: 100%;
    min-height: 8em;
}
.coll,.after{
    display: flexbox;
    height: 30%;
    width:30%;
    color:white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.foot{
    margin-top: 0;
    position: absolute;
    text-align: center;
    color:white;
    flex-shrink: 0;
    width: 100%;
    height: 20em;

}

.card1,.card2,.card3{
   align-items: center;
    display:inline-block;
  margin-left:6em ;
   padding: 5em;
   border:black;
   border-radius: 10%;
   box-shadow: 0.7em 0.7em black;
 }
 .image{
   display:inline-block;
 }
 #id{
    height: 20em;
    width:30em;
 }
 .photo{
    display: inline-block;
 }